{%extends 'locations/base.html'%}

{%block page_title%}
New symbol
{%endblock%}

{%block content%}

<div style="margin-top: 175px;" class=" text-center container"> <!-- Testing if bootstrap.css static file connected in base template -->
    You need to add a new symbol first... <br> </br> <br>
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Add new symbol</button>
    </form>
</div>


{%endblock%}