{%extends 'locations/base.html'%}

{%block page_title%}
{{country.name}} info
{%endblock%}

{%block content%}

<div style="margin-top: 75px;" class="container"> <!-- Testing if bootstrap.css static file connected in base template -->

    <ul class="list-group">
        <span style="font-size:24px;"><b>Country: {{country.name}}</b></span> <br>
            <ul style="margin-top: 50px;" class="list-group">
            {% for city in cities%}
                <li class="text-center list-group-item"><a href="/locations/city/{{city.id}}">{{city.name}}</a></li>
            {% endfor %}
            </ul>
        <a class="btn btn-success" href="/locations/newcity">Add new city</a>
        <br><br><br>

    </ul>
</div>


{%endblock%}